/*Cabeçalho - Início*/
.header{
    margin: 0px 0px;
    padding: 0px 0px;
    border: 0px;
    min-width: 100%;
    background: #918e8e;
    max-height: 100px;
}
/*Cabeçalho - Início*/

/*Section 1 - Início*/

/*Section 1 - Fim*/

/*Input camp + button - Início*/
.input{
    margin-bottom: 1%;
    margin-right: 0.5%;

}

/*Menu Principal - Início*/

.menu-principal-nav a{
    font-size: 1.8em;
    color: black;
}

/*Menu Principal - Fim*/

/*Logo - Início*/

/*Logo - Fim*/

/*Corpo - Início*/
.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.titulo--em-destaque{
    display: grid;
    align-items: cente
}
.item {
    padding: 5% 0%;
}
.item-text {
    display: flex;
    justify-content: space-between;
}
.item-descriptio {
    font-size: 13px;
}

.sub-item-1{
    width: 50%;
    float: left;
}
.sub-item-2{
    float: right;
}
/*Corpo - Fim*/

.navigation {
    z-index: 1;
    background-color: #b9b7b7;
}

.logo-img {
    width: 8%;
    height: 11%;
}

.section-color--gray-light {
    
    background-color: #f1ebeb;

}

.font-title {
    font-weight: 700;
}

.lancamentos-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 115px;
}

.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.em-destaque  {
    padding: 5% 0%;
}

.em-destaque-img {
    max-width: 240px;
    width: auto;
    height: 345px;
    padding: 15px;
}

.container-carregar-filme{
    display: flex;
    justify-content: flex-end;
}

.container-avaliacoes {
    display: flex;
    margin: 20px 0px;
}

.card--avaliacoes{
    display: grid;
    max-width: 280px;
    grid-template-columns: 1fr 5fr;
}

.card--novidades {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.card-top {
    display: flex;
    align-items: center;
}

.card-description{
    padding: 10px;
}


.icon--user{
    max-width: 40px;
    border: 8px solid #ccc5c5;
    border-radius: 20px;
}

.container-entrevista{
    display: flex;
    margin: 20px 0px;
}

.container-novidades{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.footer {
    padding: 5%;
}

@media (max-width: 790px){
    .logo-img {
        width: 20%;
        height: 11%;
    }


}

@media (min-width: 0px){
    /* .titulo--em-destaque .content-top {
        display: flex;
        justify-content: space-between;
        padding: 0px 15px;
    } */
}

@media (min-width: 961px){
    /* .content-top {
        display: flex;
        justify-content: space-between;
        padding: 0px 102px;
       
    } */
}